@import "variables";

@import "partials/form-wizard.scss";


/*

input[type="radio"] {
	width: auto;
}

.step-item {
	font-size: 20px;
	color: gray;
}
.step-item.passed {
	color: black;
}
.step-item.current {
	color: green;
}
.step-separator {
	font-size:20px;
}



.wizard-form {
    border: 1px solid lightgray;
}

.wizard-form-size-standart {
    max-width: 1200px;
}

.wizard-form-steps {
    background: aliceblue;
    padding: 10px;
}

.wizard-form-content {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.wizard-form-nav {
	padding: 10px;
	border-top: 1px solid lightgray;
}

.btn-cancel {
	background: darkred;
	color: white;
	float: right;
}

.btn-finish {
	background: green;
	color: white;
}

*/