/*end of hyper overwrite temp test*/

.sys-message {
    display: block;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 11px;
    color: #212121;
    border: 1px solid rgba(216, 188, 1, 0.44);
}

.ba-warning {
    background-color: #ffdf66;
    padding: 10px;
    font-size: 11px;
    color: #424242;
    line-height: 12px;
}

.notice {
    display: inline-block;
    background-color: rgba(253, 241, 240, 0.62);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 11px;
    color: #171717;
    border: 1px solid rgba(115, 11, 11, 0.15);
    text-align: left;
    line-height: 1.5;
}

.cabinetstartpagemodule_cabinetstartpage .page-header {
    display: none;
}

#project-block-GrainReceipt {
    background: url(startpage/minagroservices.svg);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

#personal-info {
    background: url(startpage/personalinfo.png);
    background-size: cover;
    background-position: 0px 190px;
}

    #personal-info:hover {
        background-position: 0px 0px;
    }

#org-info {
    background: url(startpage/orgInfo.png);
    background-size: cover;
    background-position: 0px 190px;
}

    #org-info:hover {
        background-position: 0px 0px;
    }


#login-project-block-entity {
    background: url(startpage/login-entity.png) 55px 50px no-repeat;
    background-size: 95px 95px;
}

#login-project-block-ib {
    background: url(startpage/login-ib.png) 55px 50px no-repeat;
    background-size: 95px 95px;
}

#login-project-block-individual {
    background: url(startpage/login-individual.png) 55px 50px no-repeat;
    background-size: 95px 95px;
}

#login-project-block-gr {
    background: url(startpage/login-gr.png) 55px 50px no-repeat;
    background-size: 95px 95px;
}

#login-project-block-local {
    background: url(startpage/login-gr.png) 55px 50px no-repeat;
    background-size: 95px 95px;
}

#login-project-block-test {
    background: url(startpage/login-gr.png) 55px 50px no-repeat;
    background-size: 95px 95px;
}


.navigation-link {
    display: block;
    padding: 3px;
    padding-left: 10px;
    text-decoration: none;
    border-bottom: 0px solid #fff;
    min-height: 20px;
    color: #545454;
    font-weight: normal;
}

    .navigation-link.selected {
        color: #101010;
        text-decoration: none;
        font-weight: bold;
        border-left: 3px solid #101010;
        padding-left: 7px;
    }


    .navigation-link:hover {
        text-decoration: underline;
    }


.text-dev {
    text-align: justify;
    font-weight: normal;
    font-size: 20pt;
    display: block;
    width: 100%;
    color: #ccc;
}

.main-content .app-container {
    border: 1px solid #d2d2d2;
}

.project-ar {
}

    .project-ar .left-side-bar {
        display: none !important;
    }

    .project-ar .breadcrumb {
        display: none;
    }

    .project-ar .main-content {
        max-width: 600px;
        margin: 0 auto !important;
    }

    .project-ar .page-header {
        text-align: center;
    }

    .project-ar .profile-type-info-text {
        display: none;
    }

    .project-ar .container-fluid.body-container {
        padding-left: 15px;
    }



    .project-ar.externalregistrationmodule_mnuuserregindividual .main-content,
    .project-ar.externalregistrationmodule_mnuuserregindividualcorp .main-content,
    .project-ar.externalregistrationmodule_mnuuserregcorp .main-content {
        max-width: 800px;
    }

    .project-ar.externalregistrationmodule_mnuuserregindividual fieldset.groupbox-default,
    .project-ar.externalregistrationmodule_mnuuserregindividualcorp fieldset.groupbox-default,
    .project-ar.externalregistrationmodule_mnuuserregcorp fieldset.groupbox-default {
        padding-top: 20px;
    }

        .project-ar.externalregistrationmodule_mnuuserregindividual fieldset.groupbox-default legend,
        .project-ar.externalregistrationmodule_mnuuserregindividualcorp fieldset.groupbox-default legend,
        .project-ar.externalregistrationmodule_mnuuserregcorp fieldset.groupbox-default legend {
            display: none;
        }


.header-logo {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200px;
    vertical-align: middle;
    background-image: url(logo/default.svg);
    width: 210px;
    height: 55px;
    display: table-cell;
}



.header-user-info {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    padding: 7px;
    display: inline-block;
}

    .header-user-info:hover, .header-user-info:after {
        color: #fff;
    }

.header-sign-out {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    padding: 7px;
    display: inline-block;
}

    .header-sign-out:hover {
        color: #fff;
    }

.a-white {
    color: #fff;
}

    .a-white:hover, .a-white:active, .a-white:focus {
        color: #fff;
    }

.wh100 {
    width: 100%;
    height: 100%;
}

.disabletext {
    color: #ccc !important;
}

.nopadding {
    padding: 0 !important;
}

.noborder {
    border: 0px !important;
}

.h-300 {
    height: 300px !important
}

.h-400 {
    height: 400px !important
}

.h-500 {
    height: 500px !important
}

.tc-black {
    color: #1a1a1a
}

.tc-basegray {
    color: #414952
}

.fz-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-30 {
    font-size: 30px;
}

.fz-48 {
    font-size: 48px !important;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500;
}

.f700 {
    font-weight: 700;
}

.fsi {
    font-style: italic;
}

.mt-0 {
    margin-top: 0px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-150 {
    margin-top: 150px;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-0-i {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-150 {
    padding-top: 150px;
}


.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 310px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.moa {
    margin: 0 auto;
}

.text-decoration-line-through {
    text-decoration: line-through;
}