[Unit]
Description={{ item.description }}
DefaultDependencies=no
Wants=network.target
After=network.target

[Service]
WorkingDirectory={{ item.serviceHomeDir }}
ExecStart=/usr/bin/java -Xmx5120m -Djava.net.useSystemProxies=true -Dfile.encoding=utf-8 -jar {{ item.serviceDir }}/{{ item.entryDll }}
Restart=always
RestartSec=10
SyslogIdentifier={{ item.serviceName }}
User=devops
Group=devops

Environment=JAVA_ENVIRONMENT={{ item.environment }}
Environment=ShepKeyFile={{ item.serviceDir }}/signCert.p12
Environment=ListenUrl={{ item.listenUrl }}
Environment=ShepKeyKupiyaSoz={{ item.certPwd }}
Environment=GostCaCertPath={{ item.serviceDir }}/nca_gost_2025.crt
Environment=RsaCaCertPath={{ item.serviceDir }}/nca_rsa_2025.crt
Environment=OcspUrl={{ item.ocspUrl  }}

[Install]
WantedBy=multi-user.target
