- module: nginx
  #metricsets:
  #  - stubstatus
  period: 300s

  # Nginx hosts
  hosts: ["https://{{ acceptingMetricHost }}"]

  # Path to server status. Default server-status
  server_status_path: "ngstat"
