[elk]
name=Kibana repository for 7.x packages
baseurl=https://nexus.aq.servers.lan:8443/repository/proxy-artifacts.elastic.co/packages/7.x/yum
gpgcheck=1
gpgkey=https://nexus.aq.servers.lan:8443/repository/proxy-artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md