.invoices-item-container {
    margin: 4px;
}

.invoices-container {
    margin-top: 5px;
}

.invoices-description {
    display: block;
    color: #807d7d;
    margin-top: 4px;
}

.invoices-list-editor {
    border: 1px solid lightgray;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 4px;
}

.invoice-remove-btn {
    color: red;
    cursor: pointer;
}
.invoices-no-items {
    text-align: center;
    display: block;
    font-size: 16px;
    font-style: italic;
    padding: 15px;
}

.invoices-empty-info {
    font-style: italic;
}

.invoices-container {
    margin-top: 5px;
}

/*  printer  */
.invoice {
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 3px;
}

.obj-data {
    padding: 4px;
}

span.obj-data-title {
    font-size: 18px;
}

.title {
    font-weight: bold;
    padding: 4px;
}

.obj-list {
    padding: 5px;
}

.total-row th {
    text-align: left;
}