<table>
    <tr>
        <td width="50px;">
            @*<img id="logo" src="@Url.Content("~/Content/themes/cabinet/logo.png")" />*@
        </td>
       
            <td id="top-header-left">
                <div id="app-text">
                  ВХОД И РЕГИСТРАЦИЯ В СИСТЕМЕ
                </div>
     
        </td>
    </tr>
</table>

