@using Yoda.Application.Models
@model Yoda.Application.Models.ProjectText

<div class="header">
    <div class="logo"></div>
    <div class="header-text">@Model.Text</div>
    <div class="clear"></div>
</div>