
@using Yoda.Interfaces
@model IEnumerable<ProjectTileInfo>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">@Html.T("Список доступных проектов")</div>
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        <a href="@Url.YodaAction(item.Module, item.Menu)">
                            <h4>@item.Text</h4>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>