.iac-col-resize-pin {
	background: grey;
	cursor: pointer;
	z-index: 2;
	right: 0;
	top: 0;
	height: 100%;
	position: absolute;
	border-right: 2px solid #fbfbfb;
	border-left: 2px solid transparent;
	display: inline-block;
}