<html>
    <head><title>OOPS! 404 - Page not found</title></head>
    <body style="height:100%;display:table;margin:0 auto;">
        <div style="height:100%; display: table-cell;vertical-align: middle;text-align: center">
            <div  style="height:200px;  width:800px;">
                <div style="font-weight: bold; font-size: 30px; color:cornflowerblue">OOPS! 404 - Page not found</div>
        </div>
    </body>
</html>