[Unit]
Description={{ item.description }}
DefaultDependencies=no
Wants=network.target # network is required
After=network.target

[Service]
WorkingDirectory={{ item.webHomeDir }}
ExecStart=/usr/bin/java -Xmx5120m -D java.net.useSystemProxies=true -Dfile.encoding=utf-8 -jar {{ item.webHomeDir }}/{{ item.entryDll }}
Restart=always
RestartSec=10
SyslogIdentifier={{ item.serviceName }}
User=devops
Group=devops

Environment=JAVA_ENVIRONMENT={{ item.environment }}
Environment=vault__serverUrl={{ item.vault.serverUrl }}
Environment=vault__secretsPath={{ item.vault.secretPath }}
Environment=vault__userName={{ item.vault.userName }}
Environment=vault__userPassword={{ item.vault.userPassword }}
{% if appAdditionalEnvironmentVars %}
Environment={{ appAdditionalEnvironmentVars }}
{% endif %}

[Install]
WantedBy=multi-user.target