deb https://nexus.aq.servers.lan:8443/repository/apt-base/ubuntu eoan main restricted
deb https://nexus.aq.servers.lan:8443/repository/apt-base/ubuntu eoan-updates main restricted
deb https://nexus.aq.servers.lan:8443/repository/apt-base/ubuntu eoan-updates universe
deb https://nexus.aq.servers.lan:8443/repository/apt-base/ubuntu eoan multiverse
deb https://nexus.aq.servers.lan:8443/repository/apt-base/ubuntu eoan-updates multiverse
deb https://nexus.aq.servers.lan:8443/repository/apt-base/ubuntu eoan-security main restricted
deb https://nexus.aq.servers.lan:8443/repository/apt-base/ubuntu eoan-security universe
deb https://nexus.aq.servers.lan:8443/repository/apt-base/ubuntu eoan-security multiverse
#deb https://nexus.aq.servers.lan:8443/repository/apt-qgis-repo/ eoan main