/*@font-face {
	font-family: 'Segoe UI';
	src: url('SegoeUI-Italic.woff2') format('woff2'), url('SegoeUI-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('SegoeUI-SemiBold.woff2') format('woff2'), url('SegoeUI-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('SegoeUI-Bold.woff2') format('woff2'), url('SegoeUI-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('SegoeUI.woff2') format('woff2'), url('SegoeUI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('SegoeUI-Light.woff2') format('woff2'), url('SegoeUI-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
*/


body {
	font-family: Segoe, "Segoe UI", "Arial", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
}

.form-container {
	margin: 0 auto;
	max-width: 1000px;
}

.form-head {
	width: 100%;
}

.form-head-black-row {
	background-color: #202426;
	color: #fff;
	border-radius: 8px 8px 0px 0px;
	padding: 5px 15px;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
}

.form-head-logo {
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}

	.form-head-logo img {
		display: inline-block;
		vertical-align: middle;
		width: 120px;
	}

.form-head-text {
	padding-left: 20px;
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}

.form-head-header {
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	color: #34373c;
}

.form-head-subheader {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.form-head-data {
	background-color: #E6E7E8;
	/* background-image: url("form-bg.png"); */
	background-size: cover;
	background-position: center;
	border-radius: 0px 0px 8px 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: table;
	width: 100%;
}
.form-head-data-link {

}

.form-head-data-text {
	padding-left: 20px;
	padding-top: 10px;
	float: left;
	padding-top: 28px;
}

.form-head-data-row {
	display: table-row;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
}

.qr-container {

}

.form-head-data-qr-container {
	text-align: center;
	vertical-align: middle;
	float: left;
	padding: 10px;
}

.form-head-data-qr {
	/*background-color: rgb(255 255 255 / 75%);*/
	border-radius: 8px;
	padding: 10px;
	height: 120px;
}

.form-head-data-qr img {
	width: 100px !important;
}

.form-head-data-qr-link {
	display: block;
	color: #353535;
	font-size: 14px;
	font-weight: 600;
}

.form-head-data-qr a {
	text-decoration: none;
	cursor: pointer;
}

.form-head-right-text {
	text-align: right;
	padding: 30px 0;
	font-weight: 600;
}

.text-center {
	text-align: center;
}
