@font-face {
  font-family: 'yodic';
  src:  url('fonts/yodic.eot?3xrsqb');
  src:  url('fonts/yodic.eot?3xrsqb#iefix') format('embedded-opentype'),
    url('fonts/yodic.ttf?3xrsqb') format('truetype'),
    url('fonts/yodic.woff?3xrsqb') format('woff'),
    url('fonts/yodic.svg?3xrsqb#yodic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.yodic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yodic' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yodic-numeric-square-1:before {
  content: "\e927";
}
.yodic-numeric-square-2:before {
  content: "\e928";
}
.yodic-numeric-square-3:before {
  content: "\e929";
}
.yodic-numeric-square-4:before {
  content: "\e92a";
}
.yodic-numeric-square-5:before {
  content: "\e92b";
}
.yodic-numeric-square-6:before {
  content: "\e92c";
}
.yodic-numeric-square-7:before {
  content: "\e92d";
}
.yodic-numeric-square-8:before {
  content: "\e92e";
}
.yodic-numeric-square-9:before {
  content: "\e92f";
}
.yodic-numeric-square-10:before {
  content: "\e930";
}
.yodic-numeric-square-11:before {
  content: "\e931";
}
.yodic-numeric-square-12:before {
  content: "\e932";
}
.yodic-numeric-square-13:before {
  content: "\e933";
}
.yodic-numeric-square-14:before {
  content: "\e934";
}
.yodic-numeric-square-15:before {
  content: "\e935";
}
.yodic-numeric-square-16:before {
  content: "\e936";
}
.yodic-numeric-square-17:before {
  content: "\e937";
}
.yodic-numeric-square-18:before {
  content: "\e938";
}
.yodic-numeric-square-19:before {
  content: "\e939";
}
.yodic-numeric-square-20:before {
  content: "\e93a";
}
.yodic-numeric-1:before {
  content: "\e913";
}
.yodic-numeric-2:before {
  content: "\e914";
}
.yodic-numeric-3:before {
  content: "\e915";
}
.yodic-numeric-4:before {
  content: "\e916";
}
.yodic-numeric-5:before {
  content: "\e917";
}
.yodic-numeric-6:before {
  content: "\e918";
}
.yodic-numeric-7:before {
  content: "\e919";
}
.yodic-numeric-8:before {
  content: "\e91a";
}
.yodic-numeric-9:before {
  content: "\e91b";
}
.yodic-numeric-10:before {
  content: "\e91c";
}
.yodic-numeric-11:before {
  content: "\e91d";
}
.yodic-numeric-12:before {
  content: "\e91e";
}
.yodic-numeric-13:before {
  content: "\e91f";
}
.yodic-numeric-14:before {
  content: "\e920";
}
.yodic-numeric-15:before {
  content: "\e921";
}
.yodic-numeric-16:before {
  content: "\e922";
}
.yodic-numeric-17:before {
  content: "\e923";
}
.yodic-numeric-18:before {
  content: "\e924";
}
.yodic-numeric-19:before {
  content: "\e925";
}
.yodic-numeric-20:before {
  content: "\e926";
}
.yodic-kezekte:before {
  content: "\e912";
}
.yodic-grain-receipt-logo:before {
  content: "\e906";
}
.yodic-qoldau:before {
  content: "\e90c";
}
.yodic-grain-operation:before {
  content: "\e904";
}
.yodic-grain-receipt:before {
  content: "\e905";
}
.yodic-activity:before {
  content: "\e900";
}
.yodic-agribonds:before {
  content: "\e901";
}
.yodic-dfo:before {
  content: "\e902";
}
.yodic-grain:before {
  content: "\e903";
}
.yodic-info:before {
  content: "\e907";
}
.yodic-lock:before {
  content: "\e908";
}
.yodic-menu-circle:before {
  content: "\e909";
}
.yodic-mortgagee:before {
  content: "\e90a";
}
.yodic-organization:before {
  content: "\e90b";
}
.yodic-star:before {
  content: "\e90d";
}
.yodic-user:before {
  content: "\e90e";
}
.yodic-user-cabinet-round:before {
  content: "\e90f";
}
.yodic-user-cabinet-square:before {
  content: "\e910";
}
.yodic-users:before {
  content: "\e911";
}
